lead-qualifier/make-scenarios/bonsai Calendar Schedule.blueprint.json
{
    "name": "bonsai Calendar Schedule",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3958335,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 35,
                    "y": 21
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "schedule_call"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-calendar:createAnEvent",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 4921715
            },
            "mapper": {
                "end": "{{2.end}}",
                "start": "{{2.start}}",
                "select": "detail",
                "summary": "{{2.summary}}",
                "calendar": "{{2.calendarId}}",
                "attendees": [
                    {
                        "email": "{{2.email}}"
                    }
                ],
                "visibility": "default",
                "allDayEvent": false,
                "description": "{{2.description}}",
                "transparency": "opaque",
                "conferenceDate": true,
                "guestPermissions": {
                    "guestsCanModify": false,
                    "guestsCanInviteOthers": true,
                    "guestsCanSeeOtherGuests": true
                }
            },
            "metadata": {
                "designer": {
                    "x": 377,
                    "y": 18
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "In Detail"
                        },
                        "colorId": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "calendar": {
                            "mode": "edit"
                        },
                        "attendees": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "eventType": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "overrides": {
                            "mode": "chose"
                        },
                        "recurrence": {
                            "mode": "chose"
                        },
                        "visibility": {
                            "mode": "chose",
                            "label": "Default"
                        },
                        "allDayEvent": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "sendUpdates": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "transparency": {
                            "mode": "chose",
                            "label": "Busy"
                        },
                        "conferenceDate": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (dominik@utter.one)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create an Event",
                        "required": true,
                        "validate": {
                            "enum": [
                                "quick",
                                "detail"
                            ]
                        }
                    },
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Event Name",
                        "required": true
                    },
                    {
                        "name": "conferenceDate",
                        "type": "boolean",
                        "label": "Add Google Meet Video Conferencing",
                        "required": true
                    },
                    {
                        "name": "attendees",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "displayName",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email",
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Attendee"
                        },
                        "type": "array",
                        "label": "Attendees"
                    },
                    {
                        "name": "allDayEvent",
                        "type": "boolean",
                        "label": "All Day Event",
                        "required": true
                    },
                    {
                        "name": "start",
                        "time": true,
                        "type": "date",
                        "label": "Start Date",
                        "required": true
                    },
                    {
                        "name": "end",
                        "time": true,
                        "type": "date",
                        "label": "End Date"
                    },
                    {
                        "name": "duration",
                        "type": "time",
                        "label": "Duration"
                    },
                    {
                        "name": "eventType",
                        "type": "select",
                        "label": "Event Type",
                        "validate": {
                            "enum": [
                                "outOfOffice",
                                "focusTime"
                            ]
                        }
                    },
                    {
                        "name": "colorId",
                        "type": "select",
                        "label": "Color"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "useDefault",
                        "type": "boolean",
                        "label": "Use the default reminder settings for this event"
                    },
                    {
                        "name": "overrides",
                        "spec": [
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "options": [
                                    {
                                        "label": "Email",
                                        "value": "email"
                                    },
                                    {
                                        "label": "Pop-up",
                                        "value": "popup"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "minutes",
                                "type": "uinteger",
                                "label": "Minutes",
                                "required": true,
                                "validate": {
                                    "max": 40320
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Reminders",
                        "validate": {
                            "maxItems": 5
                        }
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Show me as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "opaque",
                                "transparent"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "default",
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "sendUpdates",
                        "type": "select",
                        "label": "Send notifications about the event creation",
                        "validate": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "guestPermissions",
                        "spec": [
                            {
                                "name": "guestsCanModify",
                                "type": "boolean",
                                "label": "Modify event",
                                "required": true
                            },
                            {
                                "name": "guestsCanInviteOthers",
                                "type": "boolean",
                                "label": "Invite others",
                                "required": true
                            },
                            {
                                "name": "guestsCanSeeOtherGuests",
                                "type": "boolean",
                                "label": "See guest list",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Guest Permissions"
                    },
                    {
                        "name": "recurrence",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Value"
                        },
                        "type": "array",
                        "label": "Recurrence"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileUrl",
                                "type": "url",
                                "label": "File URL",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{4.htmlLink}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 768,
                    "y": 28
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}